$primary: #9FD67C;
$onPrimary: #113800;
$secondary: #BDCBAF;
$onSecondary: #283420;
$surface: #1A1C18;
$onSurface: #E3E3DC;
$surfaceVariant: #43483E;
$onSurfaceVariant: #C4C8BB;
$primaryContainer: #235105;
$onPrimaryContainer: #BAF395;
$secondaryContainer: #3E4A35;

.dark {
  --md-sys-color-primary: #9FD67C;
  --md-sys-color-primary-container: #235105;
  --md-sys-color-on-primary: #113800;
  --md-sys-color-on-primary-container: #BAF395;
  --md-sys-color-secondary: #BDCBAF;
  --md-sys-color-secondary-container: #3E4A35;
  --md-sys-color-on-secondary: #283420;
  --md-sys-color-on-secondary-container: #D9E7CA;
  --md-sys-color-tertiary: #A0CFCF;
  --md-sys-color-tertiary-container: #1E4E4E;
  --md-sys-color-on-tertiary: #003737;
  --md-sys-color-on-tertiary-container: #BBEBEB;
  --md-sys-color-error: #FFB4A9;
  --md-sys-color-error-container: #930006;
  --md-sys-color-on-error: #680003;
  --md-sys-color-on-error-container: #FFDAD4;
  --md-sys-color-outline: #8D9286;
  --md-sys-color-background: #1A1C18;
  --md-sys-color-on-background: #E3E3DC;
  --md-sys-color-surface: #1A1C18;
  --md-sys-color-on-surface: #E3E3DC;
  --md-sys-color-surface-variant: #43483E;
  --md-sys-color-on-surface-variant: #C4C8BB;
  --md-sys-color-inverse-surface: #E3E3DC;
  --md-sys-color-inverse-on-surface: #1A1C18;
  --md-sys-color-inverse-primary: #3A6A1D;
  --md-sys-color-shadow: #000000;
  --md-sys-color-surface-tint: #006A6A;
  --md-sys-color-outline-variant: #BEC9C8;
  --md-sys-color-scrim: #000000;
}

.fab{
  position: fixed;
  bottom: 50px;
  right: 100px;
}

.toolbar{
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 99;
  transition: background-color .5s;
  background-color: transparent;
}

.toolbar-scrolled {
  background-color: $secondaryContainer;
}


.container{
  margin-top: 64px;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.icon{
  color: $onSurface;
}

.text-primary{
  color: $onSurface;
  font-family: "Google Sans Text", "Microsoft YaHei", serif;
}

.toolbar-title {
  padding: 0 10px;
  font-size: 22px;
  font-family: "Google Sans Display", serif;
}

.version-tag {
  width: 50px;
  height: 24px;
  background-color: $primaryContainer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.version-tag-text {
  color: $onPrimaryContainer;
  font-size: 12px;
  font-family: "Google Sans Text", serif;
}

.sidenav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $surface;
  height: 100%;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 260px;
  height: 46px;
  border-radius: 23px;
  margin: 0 0 10px 0;
}

.nav-item:hover {
  background-color: $secondaryContainer;
}

.nav-item-text {
  margin: 8px 20px;
  color: $onSurface;
  font-size: 16px;
  font-family: "Google Sans Text", "Microsoft YaHei", serif;
}

.subject {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 800px;
}

.subject-text-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 80px;
}

.subject-text-container h1 {
  margin: 0 0 40px 0;
  color: $onSurface;
  font-size: 56px;
  font-family: "Google Sans Display", "Microsoft YaHei", serif;
}

.subject-text-container h2 {
  margin: 0 0 40px 0;
  color: $onSurface;
  font-size: 24px;
  font-weight: normal;
  font-family: "Google Sans Text", "Microsoft YaHei", serif;
}

.subject-text-container .buttons{
  display: flex;
  flex-direction: row;
}

.button-filled {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Google Sans Display", "Microsoft YaHei", serif;
  font-size: 18px;
  background-color: $primary;
  color: $onPrimary;
  margin: 0 20px 0 0 ;
  transition: all .2s;
}

.button-outlined {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Google Sans Display", "Microsoft YaHei", serif;
  font-size: 18px;
  color: $primary;
  border: 1px solid $primary;
  transition: all .2s;
}

.button-filled:active{
  border-radius: 10px;
}

.button-outlined:hover{
  background-color: $secondaryContainer;
}

.button-outlined:active{
  border-radius: 10px;
}

.subject-text-container .buttons .button{
  margin: 0 20px 0 0;
}

.subject-image-container {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.subject-image-container #phone{
  position: absolute;
  top: 57%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 15%;
  height: auto;
}

.subject-image-container #foldable{
  position: absolute;
  top: 53%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 32%;
  height: auto;
}

.subject-image-container #tablet{
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67%;
  height: auto;
}

.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 480px;
  //border: 1px solid #283420;
}

.title{
  margin: 0 0 0 120px;
  font-size: 48px;
  font-weight: normal;
  font-family: "Google Sans Display", "Microsoft YaHei", serif;
}

.feature-main{
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.feature-text{
  width: 47%;
}

.feature-subtitle {
  width: 100%;
  font-size: 20px;
  color: $primary;
  font-family: "Google Sans Text", "Microsoft YaHei", serif;
  margin: 0 0 20px 0;
}

.feature-title {
  width: 100%;
  font-size: 40px;
  margin: 0 0 20px 0;
}

.feature-content{
  width: 100%;
  color: $onSurfaceVariant;
  font-family: "Google Sans Text", "Microsoft YaHei", serif;
  font-size: 16px;
}

.feature-spacer {
  width: 80px;
}

.feature-image {
  width: 47%;
  aspect-ratio: 4/3;
  border-radius: 40px;
  background-color: $primary;
}

.resources {
  margin: 40px 120px;
}

.resource-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  border-radius: 20px;
  background-color: $surfaceVariant;
  transition: all .2s;
}

.resource-card:hover{
  background-color: $secondaryContainer;
}

.resource-card:active{
  border-radius: 56px;
}

.resource-card-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $surface;
  transition: all .2s;
}

.resource-card-icon fa-icon{
  color: $secondary;
  transition: all .2s;
}

.resource-card:hover .resource-card-icon{
  background-color: $primary;
}

.resource-card:hover .resource-card-icon fa-icon{
  color: $secondaryContainer;
}

.resource-card-title{
  font-size: 22px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  margin: 0 20px 15px 20px;
}

.resource-card-content{
  font-size: 16px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  margin: 0 20px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .fab{
    position: fixed;
    bottom: 50px;
    right: 50px;
  }
  .subject {
    flex-direction: column;
    height: 1000px;
  }
  .subject-text-container {
    width: 100%;
    padding: 0 20px;
  }
  .subject-text-container h1 {
    font-size: 40px;
  }
  .subject-image-container {
    width: 100%;
  }
  .feature {
    height: 800px;
  }
  .feature-main{
    flex-direction: column;
  }
  .feature-text {
    width: 100%;
    margin-bottom: 20px;
  }
  .feature-image {
    width: 100%;
  }
  .feature-spacer {
    width: 40px;
  }
  .title {
    margin: 0 0 0 80px;
  }
  .resources {
    margin: 40px 80px;
  }
}

@media screen and (max-width: 575px) {
  .feature-spacer {
    width: 20px;
  }
  .title {
    margin: 0 0 0 40px;
    font-size: 40px;
  }
  .resources {
    margin: 40px 40px;
  }
}
