<mat-toolbar class="toolbar" [class.toolbar-scrolled]="pageScrolled">
  <mat-toolbar-row>
    <md-standard-icon-button (click)="drawer.toggle()">
      <md-icon class="icon" *ngIf="!drawer.opened">menu</md-icon>
      <md-icon class="icon" *ngIf="drawer.opened">menu_open</md-icon>
    </md-standard-icon-button>
    <span class="toolbar-title text-primary">Parabox</span>
    <div class="version-tag">
      <span class="version-tag-text">1.1.0</span>
    </div>
    <div class="spacer"></div>
    <a href="https://github.com/Parabox-App/Parabox" target="_blank">
      <md-standard-icon-button>
        <fa-icon class="icon" [icon]="faGithub"></fa-icon>
      </md-standard-icon-button>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" [mode]="navMode" [opened]="defaultNavOpened">
    <div class="nav-container">
      <div style="height: 74px;"></div>
      <a href="#">
        <div class="nav-item">
          <span class="nav-item-text">主页</span>
        </div>
      </a>
      <div class="nav-item">
        <span class="nav-item-text">快速开始</span>
      </div>
      <div class="nav-item">
        <span class="nav-item-text">文档</span>
      </div>
      <div class="nav-item">
        <span class="nav-item-text">用户协议</span>
      </div>
      <div class="nav-item">
        <span class="nav-item-text">隐私政策</span>
      </div>
    </div>
  </mat-drawer>

  <div class="content">
    <div class="subject">
      <div class="subject-text-container">
        <h1>原生 Android 上的即时通讯体验</h1>
        <h2>界面友好，功能完善，可拓展的即时通讯客户端。</h2>
        <div class="buttons">
          <div class="button-filled">
            <span style="margin: 0 40px">快速开始</span>
          </div>
          <div class="button-outlined">
            <span style="margin: 0 40px">了解更多</span>
          </div>
        </div>
      </div>
      <div class="subject-image-container">
        <img src="./assets/tablet.png" alt="tablet" id="tablet"/>
        <img src="./assets/foldable.png" alt="foldable" id="foldable"/>
        <img src="./assets/phone.png" alt="phone" id="phone"/>
      </div>
    </div>
    <!--    <div class="title text-primary">-->
    <!--      <span>特性</span>-->
    <!--    </div>-->
    <div class="feature">
      <div class="feature-spacer"></div>
      <md-standard-icon-button class="dark">
        <md-icon class="icon">navigate_before</md-icon>
      </md-standard-icon-button>
      <div class="feature-spacer"></div>
      <div class="feature-main">
        <div class="feature-text">
          <div class="feature-subtitle">
          <span>
            会话编组
          </span>
          </div>
          <div class="feature-title">
          <span class="text-primary">
            冗余会话合并管理
          </span>
          </div>
          <div class="feature-content">
            <p>
              告别混乱的多平台会话和重复的通知，全新的编组功能允许用户将<span
              style="color: #9FD67C">不同平台</span>的<span style="color:#9FD67C">不同会话</span>编组至新会话中，且不存在任何额外开销。编组后的会话享有与普通会话一致的功能体验。您可以抛弃数目繁多而功能相似的工作群组了——您只需要保留一个。
            </p>
          </div>
        </div>
        <div class="feature-image">
          <img src="">
        </div>
      </div>

      <div class="feature-spacer"></div>
      <md-standard-icon-button class="dark">
        <md-icon class="icon">navigate_next</md-icon>
      </md-standard-icon-button>
      <div class="feature-spacer"></div>
    </div>
    <div class="title text-primary">
      <span>资源</span>
    </div>
    <div class="resources">
      <mat-grid-list [cols]="columnNum" gutterSize="10px" rowHeight="112px">
        <mat-grid-tile>
          <div class="resource-card">
            <div class="resource-card-icon">
              <fa-icon class="icon" [icon]="faGithub"></fa-icon>
            </div>
            <div class="resource-card-title text-primary">
              <span>开发者工具包</span>
            </div>
            <div class="resource-card-content text-primary">
              <span>包含快速启动 Parabox 扩展开发所需的预定义类和实用程序的开发工具包。</span>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="resource-card">
            <div class="resource-card-icon">
              <fa-icon class="icon" [icon]="faGithub"></fa-icon>
            </div>
            <div class="resource-card-title text-primary">
              <span>扩展：parabox-extension-ws</span>
            </div>
            <div class="resource-card-content text-primary">
              <span>允许 Parabox 通过 websocket 协议与私有服务器交换数据。</span>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="resource-card">
            <div class="resource-card-icon">
              <fa-icon class="icon" [icon]="faNewspaper"></fa-icon>
            </div>
            <div class="resource-card-title text-primary">
              <span>博文：EFB-Parabox-Master 使用教程</span>
            </div>
            <div class="resource-card-content text-primary">
              <span>使用 EFB-Parabox-Master 和 Parabox-Extension-WS 将 Parabox 对接 EFB 的教程。</span>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="resource-card">
            <div class="resource-card-icon">
              <fa-icon class="icon" [icon]="faBook"></fa-icon>
            </div>
            <div class="resource-card-title text-primary">
              <span>从模板项目开始</span>
            </div>
            <div class="resource-card-content text-primary">
              <span>模板项目已包含开发工具包和基本的架构设置。可从中快速开始扩展开发。</span>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div style="height: 128px"></div>
    <div class="download">
      <div class="download-image">
        <img src="./assets/standing-11.png">
      </div>
      <div class="download-detail">
        <div class="download-title text-primary">
          即刻获取
        </div>
        <div class="button-filled">
          <fa-icon [icon]="faGooglePlay"></fa-icon>
          <span>Google Play</span>
          <md-icon class="icon">arrow_forward</md-icon>
        </div>
        <div class="button-outlined">
          <fa-icon [icon]="faGithub"></fa-icon>
          <span>Github</span>
        </div>
      </div>

    </div>
    <div class="bottom-block">
      <div class="bottom-block-icon">`
        <img src="./assets/favicon.png" alt="icon">
      </div>
      <div class="bottom-block-content text-primary">
        Parabox 是一款界面友好，功能完善，可拓展的即时通讯客户端。界面遵循 Material You 设计语言。
      </div>
<!--      <div class="bottom-block-buttons">-->
<!--        <md-text-button label="用户协议" class="dark"></md-text-button>-->
<!--        <md-text-button label="隐私政策" class="dark"></md-text-button>-->
<!--      </div>-->
      <div class="bottom-block-divider"></div>
      <div class="bottom-block-bar">
        <span class="text-primary">Parabox</span>
        <div class="spacer"></div>
        <md-standard-icon-button style="margin-right: 10px;">
          <fa-icon [icon]="faTelegram" class="icon"></fa-icon>
        </md-standard-icon-button>
        <md-standard-icon-button style="margin-right: 32px;">
          <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
        </md-standard-icon-button>
      </div>
    </div>
<!--    <md-fab-extended label="即刻获取" icon="download" class="fab dark"></md-fab-extended>-->
  </div>
</mat-drawer-container>
