$primary: #9FD67C;
$onPrimary: #113800;
$secondary: #BDCBAF;
$onSecondary: #283420;
$surface: #1A1C18;
$onSurface: #E3E3DC;
$surfaceVariant: #43483E;
$onSurfaceVariant: #C4C8BB;
$primaryContainer: #235105;
$onPrimaryContainer: #BAF395;
$secondaryContainer: #3E4A35;
$onSecondaryContainer: #D9E7CA;

.dark {
  --md-sys-color-primary: #9FD67C;
  --md-sys-color-primary-container: #235105;
  --md-sys-color-on-primary: #113800;
  --md-sys-color-on-primary-container: #BAF395;
  --md-sys-color-secondary: #BDCBAF;
  --md-sys-color-secondary-container: #3E4A35;
  --md-sys-color-on-secondary: #283420;
  --md-sys-color-on-secondary-container: #D9E7CA;
  --md-sys-color-tertiary: #A0CFCF;
  --md-sys-color-tertiary-container: #1E4E4E;
  --md-sys-color-on-tertiary: #003737;
  --md-sys-color-on-tertiary-container: #BBEBEB;
  --md-sys-color-error: #FFB4A9;
  --md-sys-color-error-container: #930006;
  --md-sys-color-on-error: #680003;
  --md-sys-color-on-error-container: #FFDAD4;
  --md-sys-color-outline: #8D9286;
  --md-sys-color-background: #1A1C18;
  --md-sys-color-on-background: #E3E3DC;
  --md-sys-color-surface: #1A1C18;
  --md-sys-color-on-surface: #E3E3DC;
  --md-sys-color-surface-variant: #43483E;
  --md-sys-color-on-surface-variant: #C4C8BB;
  --md-sys-color-inverse-surface: #E3E3DC;
  --md-sys-color-inverse-on-surface: #1A1C18;
  --md-sys-color-inverse-primary: #3A6A1D;
  --md-sys-color-shadow: #000000;
  --md-sys-color-surface-tint: #006A6A;
  --md-sys-color-outline-variant: #BEC9C8;
  --md-sys-color-scrim: #000000;
}

.toolbar {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 99;
  transition: background-color .5s;
  background-color: transparent;
}

.toolbar-scrolled {
  background-color: $secondaryContainer;
}


.container {
  margin-top: 64px;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.icon {
  color: $onSurface;
}

.text-primary {
  color: $onSurface;
  font-family: "Google Sans Text", "Microsoft YaHei", serif;
}

.toolbar-title {
  padding: 0 10px;
  font-size: 22px;
  font-family: "Google Sans Display", serif;
}

.version-tag {
  width: 50px;
  height: 24px;
  background-color: $primaryContainer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.version-tag-text {
  color: $onPrimaryContainer;
  font-size: 12px;
  font-family: "Google Sans Text", serif;
}

.sidenav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
}

.nav-container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  align-items: center;
  background-color: $surface;
  height: 100%;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 260px;
  height: 46px;
  border-radius: 23px;
  margin: 0 0 10px 0;
}

.nav-item:hover {
  background-color: $secondaryContainer;
}

.nav-item-selected {
  background-color: $secondaryContainer;
}

.nav-item-text {
  margin: 8px 20px;
  color: $onSurface;
  font-size: 16px;
  font-family: "Google Sans Text", "Microsoft YaHei", serif;
}

.content {
  max-width: 1366px;
  position: relative;
}

.bottom-block {
  display: flex;
  flex-direction: column;
  background-color: $secondaryContainer;
  margin: 40px 120px;
  border-radius: 36px;
}

.bottom-block-icon img {
  width: 48px;
  height: 48px;
  margin: 24px;
}

.bottom-block-content {
  width: 60%;
  margin: 0 32px 24px 32px;
  font-size: 15px;
  font-family: "Google Sans Text", "Microsoft YaHei", serif;
  color: $onSurfaceVariant;
}

.bottom-block-buttons {
  display: flex;
  margin: 0 0 0 32px;
  flex-direction: row;
}

.bottom-block-buttons md-text-button {
  margin-right: 10px;
}

.bottom-block-divider {
  width: 100%;
  height: 1px;
  background-color: $surface;
}

.bottom-block-bar {
  height: 88px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.bottom-block-bar span {
  font-size: 22px;
  font-family: "Google Sans Display", serif;
  margin: 0 32px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .title {
    margin: 0 0 0 80px;
  }
  .bottom-block {
    margin: 40px 80px;
  }
  .bottom-block-content {
    width: auto;
  }
}

@media screen and (max-width: 575px) {
  .title {
    margin: 0 0 0 40px;
    font-size: 40px;
  }
  .download-title {
    font-size: 30px;
  }
  .bottom-block {
    margin: 40px 40px;
  }
}
