<mat-toolbar class="toolbar" [class.toolbar-scrolled]="pageScrolled">
  <mat-toolbar-row>
    <md-standard-icon-button (click)="drawer.toggle()">
      <md-icon class="icon" *ngIf="!drawer.opened">menu</md-icon>
      <md-icon class="icon" *ngIf="drawer.opened">menu_open</md-icon>
    </md-standard-icon-button>
    <span class="toolbar-title text-primary">Parabox</span>
    <div class="version-tag">
      <span class="version-tag-text">1.0.1</span>
    </div>
    <div class="spacer"></div>
    <a href="https://github.com/Parabox-App/Parabox" target="_blank">
      <md-standard-icon-button>
        <fa-icon class="icon" [icon]="faGithub"></fa-icon>
      </md-standard-icon-button>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" [mode]="navMode" [opened]="defaultNavOpened">
    <div class="nav-container">
      <a href="#">
        <div class="nav-item" >
          <span class="nav-item-text">主页</span>
        </div>
      </a>
      <div class="nav-item">
        <span class="nav-item-text">快速开始</span>
      </div>
      <div class="nav-item">
        <span class="nav-item-text">文档</span>
      </div>
      <div class="nav-item">
        <span class="nav-item-text">使用协议</span>
      </div>
      <div class="nav-item">
        <span class="nav-item-text">隐私政策</span>
      </div>
    </div>
  </mat-drawer>

  <div class="content">
    <div class="subject">
      <div class="subject-text-container">
        <h1>原生 Android 上的即时通讯体验</h1>
        <h2>界面友好，功能完善，可拓展的即时通讯客户端。</h2>
        <div class="buttons">
          <div class="button-filled">
            快速开始
          </div>
          <div class="button-outlined">
            了解更多
          </div>
        </div>
      </div>
      <div class="subject-image-container">
          <img src="./assets/tablet.png" alt="tablet" id="tablet"/>
          <img src="./assets/foldable.png" alt="foldable" id="foldable"/>
          <img src="./assets/phone.png" alt="phone" id="phone"/>
      </div>
    </div>
    <div class="feature">

    </div>
    <md-fab-extended label="获取" icon="download" class="fab dark"></md-fab-extended>
  </div>
</mat-drawer-container>
