<mat-toolbar class="toolbar" [class.toolbar-scrolled]="pageScrolled">
  <mat-toolbar-row>
    <md-standard-icon-button (click)="drawer.toggle()">
      <md-icon class="icon" *ngIf="!drawer.opened">menu</md-icon>
      <md-icon class="icon" *ngIf="drawer.opened">menu_open</md-icon>
    </md-standard-icon-button>
    <span class="toolbar-title text-primary">Parabox</span>
    <div class="version-tag">
      <span class="version-tag-text">1.1.0</span>
    </div>
    <div class="spacer"></div>
    <a href="https://github.com/Parabox-App/Parabox" target="_blank">
      <md-standard-icon-button>
        <fa-icon class="icon" [icon]="faGithub"></fa-icon>
      </md-standard-icon-button>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" [mode]="navMode" [opened]="defaultNavOpened">
    <div class="nav-container">
      <div style="height: 74px;"></div>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        <div class="nav-item" (click)="scrollToTop()" [class.nav-item-selected]="url == '/'">
          <span class="nav-item-text" >主页</span>
        </div>
      </a>
      <a href="https://docs.parabox.ojhdt.dev/" target="_blank">
        <div class="nav-item">
          <span class="nav-item-text">文档</span>
        </div>
      </a>
      <a routerLink="/terms" routerLinkActive="active" ariaCurrentWhenActive="page">
        <div class="nav-item" [class.nav-item-selected]="url == '/terms'">
          <span class="nav-item-text">用户协议</span>
        </div>
      </a>
      <a routerLink="/privacy" routerLinkActive="active" ariaCurrentWhenActive="page">
        <div class="nav-item" [class.nav-item-selected]="url == '/privacy'">
          <span class="nav-item-text">隐私政策</span>
        </div>
      </a>
    </div>
  </mat-drawer>
  <div [@routeAnimations]="getAnimationData()" class="content">
    <router-outlet></router-outlet>
    <div class="bottom-block">
      <div class="bottom-block-icon">`
        <img src="./assets/favicon.png" alt="icon">
      </div>
      <div class="bottom-block-content">
        Parabox 是一款界面友好，功能完善，可拓展的即时通讯客户端。界面遵循 Material You 设计语言。
      </div>
      <!--      <div class="bottom-block-buttons">-->
      <!--        <md-text-button label="用户协议" class="dark"></md-text-button>-->
      <!--        <md-text-button label="隐私政策" class="dark"></md-text-button>-->
      <!--      </div>-->
      <div class="bottom-block-divider"></div>
      <div class="bottom-block-bar">
        <span class="text-primary">Parabox</span>
        <div class="spacer"></div>
        <a href="https://t.me/parabox_support" title="telegram" target="_blank">
          <md-standard-icon-button style="margin-right: 10px;">
            <fa-icon [icon]="faTelegram" class="icon"></fa-icon>
          </md-standard-icon-button>
        </a>
        <a href="mailto:parabox@ojhdt.dev" title="email" target="_blank">
          <md-standard-icon-button style="margin-right: 32px;">
            <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
          </md-standard-icon-button>
        </a>
      </div>
    </div>
  </div>
</mat-drawer-container>
