<div class="subject">
  <div class="subject-text-container">
    <h1 i18n>原生 Android 上的即时通讯体验</h1>
    <h2 i18n>界面友好，功能完善，可拓展的即时通讯客户端。</h2>
    <div [@slideInOut]="launchTransitionStep >= 2 ? 'true' : 'false'" class="buttons">
      <div class="button-filled" (click)="scrollToDownload()">
        <span i18n style="margin: 0 40px">快速开始</span>
      </div>
      <a href="https://docs.parabox.ojhdt.dev/" target="_blank">
        <div class="button-outlined">
          <span i18n style="margin: 0 40px">阅读文档</span>
        </div>
      </a>
    </div>
  </div>
  <div class="subject-image-container">
    <div class="canvas-container">
      <div class="canvas-scale">
        <canvas #canvas id="canvas" width="800" height="800"></canvas>

      </div>
    </div>
    <img [@subjectSlideInOut]="launchTransitionStep >= 1 ? 'true' : 'false'" src="./assets/tablet.png" alt="tablet"
         id="tablet"/>
    <img [@subjectSlideInOut]="launchTransitionStep >= 2 ? 'true' : 'false'" src="./assets/foldable.png"
         alt="foldable" id="foldable"/>
    <img [@subjectSlideInOut]="launchTransitionStep >= 2 ? 'true' : 'false'" src="./assets/phone.png" alt="phone"
         id="phone"/>
  </div>
</div>
<!--    <div class="title text-primary">-->
<!--      <span>特性</span>-->
<!--    </div>-->
<div class="feature">
  <md-standard-icon-button class="dark feature-button" (click)="featureDecrease()">
    <md-icon class="icon">navigate_before</md-icon>
  </md-standard-icon-button>
  <div class="feature-box">
    <div [@fadeInOut]="featureNum == 0 ? 'true' : 'false'" class="feature-main">
      <div class="feature-text">
        <div class="feature-subtitle">
          <span i18n>
            会话编组
          </span>
        </div>
        <div class="feature-title">
          <span i18n class="text-primary">
            冗余会话合并管理
          </span>
        </div>
        <div class="feature-content">
          <p i18n>
            告别混乱的多平台会话和重复的通知，全新的编组功能允许用户将<span
            style="color: #9FD67C">不同平台</span>的<span style="color:#9FD67C">不同会话</span>编组至新会话中，且不存在任何额外开销。编组后的会话享有与普通会话一致的功能体验。您可以抛弃数目繁多而功能相似的工作群组了——您只需要保留一个。
          </p>
        </div>
      </div>
      <div class="feature-image" style="background-image: url('/assets/web-1.png')">
        <!--            <img src="">-->
      </div>
    </div>

    <div [@fadeInOut]="featureNum == 1 ? 'true' : 'false'" class="feature-main">
      <div class="feature-text">
        <div class="feature-subtitle">
          <span i18n>
            全局搜索
          </span>
        </div>
        <div class="feature-title">
          <span i18n class="text-primary">
            快速定位聊天记录
          </span>
        </div>
        <div class="feature-content">
          <p i18n>
            支持对聊天内容，发送人昵称，会话名称等进行字符串匹配搜索，搜索结果一目了然。</p>
        </div>
      </div>
      <div class="feature-image" style="background-image: url('/assets/web-2.png')">
        <!--          <img src="">-->
      </div>
    </div>
    <div [@fadeInOut]="featureNum == 2 ? 'true' : 'false'" class="feature-main">
      <div class="feature-text">
        <div class="feature-subtitle">
          <span i18n>
            文件管理
          </span>
        </div>
        <div class="feature-title">
          <span i18n class="text-primary">
            独立文件管理页面
          </span>
        </div>
        <div class="feature-content">
          <p i18n>是否曾遇到难以下载历史文件的窘境？散乱在各处的文件类型繁多，难以追溯与定位。Parabox
            采用独立的文件管理页面。提供时间，类型，文件大小等多种筛选条件。配合关键字检索，助你快速定位文件，展开工作流。</p>
        </div>
      </div>
      <div class="feature-image" style="background-image: url('/assets/web-3.png')">
        <!--          <img src="">-->
      </div>
    </div>

    <div [@fadeInOut]="featureNum == 3 ? 'true' : 'false'" class="feature-main">
      <div class="feature-text">
        <div class="feature-subtitle">
          <span i18n>
            文件管理
          </span>
        </div>
        <div class="feature-title">
          <span i18n class="text-primary">
            会话文件云端备份
          </span>
        </div>
        <div class="feature-content">
          <p i18n>
            便利地接入您喜欢的云端存储服务。在后台闲暇及网络条件允许时自动备份文件至云端，不占用本地存储空间。从此会话文件不易错过，不再丢失。</p>
        </div>
      </div>
      <div class="feature-image" style="background-image: url('/assets/web-4.png')">
        <!--          <img src="">-->
      </div>
    </div>

    <div [@fadeInOut]="featureNum == 4 ? 'true' : 'false'" class="feature-main">
      <div class="feature-text">
        <div class="feature-subtitle">
          <span i18n>
            通知
          </span>
        </div>
        <div class="feature-title">
          <span i18n class="text-primary">
            人与对话
          </span>
        </div>
        <div class="feature-content">
          <p i18n>“人与对话”计划包含自 Android 11 后引入的一系列系统特性。如<span style="color:#9FD67C">对话通知，对话泡，对话微件，展开通知，快捷回复，快捷方式</span>等。Parabox
            完美适配以上通知特性，带来纯粹的即时通讯体验。</p>
        </div>
      </div>
      <div class="feature-image" style="background-image: url('/assets/web-5.png')">
        <!--          <img src="">-->
      </div>
    </div>

    <div [@fadeInOut]="featureNum == 5 ? 'true' : 'false'" class="feature-main">
      <div class="feature-text">
        <div class="feature-subtitle">
          <span i18n>
            推送
          </span>
        </div>
        <div class="feature-title">
          <span i18n class="text-primary">
            FCM 云消息传递
          </span>
        </div>
        <div class="feature-content">
          <p i18n>提供<span style="color:#9FD67C">设备转发</span>与<span style="color:#9FD67C">服务器转发</span>两种 FCM
            接入方案，实现零后台驻留。系统级推送服务接受系统统一调度，拥有更出色的调度机制和更佳的性能。极大节省系统资源，延长设备续航。
          </p>
        </div>
      </div>
      <div class="feature-image" style="background-image: url('/assets/web-6.png')">
        <!--          <img src="">-->
      </div>
    </div>

    <div [@fadeInOut]="featureNum == 6 ? 'true' : 'false'" class="feature-main">
      <div class="feature-text">
        <div class="feature-subtitle">
          <span i18n>
            实验性
          </span>
        </div>
        <div class="feature-title">
          <span i18n class="text-primary">
            机器学习加持
          </span>
        </div>
        <div class="feature-content">
          <p i18n>由 <span style="color:#9FD67C">ML Kit</span> 提供的可离线运行的聊天内容实体提取，基于上下文的智能回复，以及多语言翻译。
          </p>
        </div>
      </div>
      <div class="feature-image" style="background-image: url('/assets/web-7.png')">
        <!--          <img src="">-->
      </div>
    </div>

    <div [@fadeInOut]="featureNum == 7 ? 'true' : 'false'" class="feature-main">
      <div class="feature-text">
        <div class="feature-subtitle">
          <span i18n>
            模块化
          </span>
        </div>
        <div class="feature-title">
          <span i18n class="text-primary">
            定制扩展库
          </span>
        </div>
        <div class="feature-content">
          <p i18n>
            第三方扩展提供更丰富，更稳定的消息源。用户可根据使用习惯自行组建扩展库，不同来源的消息仍可以得到统一而高效的处理。</p>
        </div>
      </div>
      <div class="feature-image" style="background-image: url('/assets/web-8.png')">
        <!--          <img src="./assets/web-1.png">-->
      </div>
    </div>
  </div>
  <md-standard-icon-button class="dark feature-button" (click)="featurePlus()">
    <md-icon class="icon">navigate_next</md-icon>
  </md-standard-icon-button>
</div>
<div class="title text-primary">
  <span i18n>资源</span>
</div>
<div class="resources">
  <mat-grid-list [cols]="columnNum" gutterSize="10px" rowHeight="112px">
    <mat-grid-tile>
      <a href="https://github.com/Parabox-App/parabox-development-kit" target="_blank"
         style="width: 100%;height: 100%;">
        <div class="resource-card">
          <div class="resource-card-icon">
            <fa-icon class="icon" [icon]="faGithub"></fa-icon>
          </div>
          <div class="resource-card-title text-primary">
            <span i18n>开发者工具包</span>
          </div>
          <div class="resource-card-content text-primary">
            <span i18n>包含快速启动 Parabox 扩展开发所需的预定义类和实用程序的开发工具包。</span>
          </div>
        </div>
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a href="https://github.com/ojhdt/efb-parabox-master" target="_blank"
         style="width: 100%;height: 100%;">
        <div class="resource-card">
          <div class="resource-card-icon">
            <fa-icon class="icon" [icon]="faGithub"></fa-icon>
          </div>
          <div class="resource-card-title text-primary">
            <span i18n>EFB Parabox Master</span>
          </div>
          <div class="resource-card-content text-primary">
            <span i18n>用于 EH Forwarder Bot 的 Parabox 主端。需结合 Parabox WS 扩展 parabox-extension-ws 使用。</span>
          </div>
        </div>
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a href="https://blog.ojhdt.com/20221221/efb-parabox-master/" target="_blank"
         style="width: 100%;height: 100%;">
        <div class="resource-card">
          <div class="resource-card-icon">
            <fa-icon class="icon" [icon]="faNewspaper"></fa-icon>
          </div>
          <div class="resource-card-title text-primary">
            <span i18n>博客：EFB-Parabox-Master 使用教程</span>
          </div>
          <div class="resource-card-content text-primary">
            <span i18n>使用 EFB-Parabox-Master 和 Parabox-Extension-WS 将 Parabox 对接 EFB 的教程。</span>
          </div>
        </div>
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a href="https://github.com/Parabox-App/parabox-development-kit" target="_blank"
         style="width: 100%;height: 100%;">
        <div class="resource-card">
          <div class="resource-card-icon">
            <fa-icon class="icon" [icon]="faBook"></fa-icon>
          </div>
          <div class="resource-card-title text-primary">
            <span i18n>从模板项目开始</span>
          </div>
          <div class="resource-card-content text-primary">
            <span i18n>模板项目已包含开发工具包和基本的架构设置。可从中快速开始扩展开发。</span>
          </div>
        </div>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div style="height: 32px"></div>
<div class="title text-primary">
  <span i18n>扩展</span>
</div>
<a href="https://play.google.com/store/apps/details?id=com.ojhdtapp.parabox.extension.auto" target="_blank">
  <div class="extension">
    <img src="./assets/extension_auto.png">
    <div class="extension-text">
      <div class="extension-text-title text-primary">
        <span i18n>Parabox Extension Auto</span>
      </div>
      <div class="extension-text-content text-primary">
        <span i18n>结合 Android Auto 特性的通知监听。</span>
      </div>
    </div>
  </div>
</a>
<a href="https://play.google.com/store/apps/details?id=com.ojhdtapp.parabox.extension.ws" target="_blank">
  <div class="extension">
    <img src="./assets/extension_ws.png">
    <div class="extension-text">
      <div class="extension-text-title text-primary">
        <span i18n>Parabox Extension WS</span>
      </div>
      <div class="extension-text-content text-primary">
        <span i18n>允许 Parabox 通过 websocket 协议与私有服务器交换数据。</span>
      </div>
    </div>
  </div>
</a>
<div class="extension extension-github text-primary">
  <p i18n>前往 <a href="https://github.com/topics/parabox-extension" target="_blank"><span>Github Topic</span></a>
    获取来自社区的更多扩展。</p>
</div>

<div style="height: 32px"></div>
<div class="download" #download>
  <div class="download-image">
    <img src="./assets/standing-11.png">
  </div>
  <div class="download-detail">
    <div i18n class="download-title text-primary">
      即刻获取
    </div>
    <div i18n class="download-content">
      感受最为纯粹与实用的原生 Android 即时通讯体验。
    </div>
    <a href="https://play.google.com/store/apps/details?id=com.ojhdtapp.parabox" target="_blank">
      <div class="button-filled">
        <fa-icon [icon]="faGooglePlay"></fa-icon>
        <span>Google Play</span>
        <md-icon class="icon">arrow_forward</md-icon>
      </div>
    </a>
    <a href="https://github.com/Parabox-App/Parabox/releases" target="_blank">
      <div class="button-outlined">
        <fa-icon [icon]="faGithub"></fa-icon>
        <span>Github</span>
      </div>
    </a>
  </div>

</div>
<!--<md-fab-extended label="即刻获取" icon="download" class="fab dark" (click)="scrollToDownload()"></md-fab-extended>-->
