<div class="heading">
  <h1 i18n>用户协议</h1>
  <h2 i18n>更新日期：<span style="color: #9FD67C">2022年11月7日</span></h2>
</div>
<div class="content">
  <p>
    OjhdtApps（以下简称“我们”）依据本协议为用户（以下简称“你”）提供Parabox服务。本协议对你和我们均具有法律约束力。一旦使用该软件及相关服务，则表明你充分知悉并接受协议所规定的一切内容（包括但不限于《隐私政策》的约束）。如果你不接受这些条款，你也可选择停止使用。</p>

  <h3>一、本服务的功能</h3>
  <p>本服务为用户提供消息收发，会话编组，文件管理，云端备份，通知进化，插件化信息源接入，数据导出功能。</p>

  <h3>二、基于网络的服务</h3>
  <p>
    使用某些功能表示你同意我们传输某些标准计算机信息。软件基于这些信息提供服务。某些情况下，连接建立时，你不会另外收到通知。你可以关闭这个功能或不使用这项服务（于设备权限管理中禁用相关权限）。</p>

  <h3>三、应用权限说明</h3>
  <p>为实现应用基本功能及提供基本服务，本服务需要调用你的如下权限或功能： 联网权限：获取用户头像，文件传输等
    存储权限：读取设备图片，文件；保存图片，文件到本地等 调取相机权限：通过拍照获取头像，发送图片等 调取设备麦克风权限：录制语音，语音搜索等
    通知权限：发送消息通知</p>

  <h3>四、关于扩展</h3>
  <p>
    “扩展”是Parabox提供开源社区的应用开放接口，开发者可利用扩展功能扩充Parabox功能，扩展预期行为仅受插件本身控制。一旦使用扩展，则表明你已充分知悉并承担使用扩展可能导致的后果。由于使用扩展导致的隐私泄露，数据泄露，财产损失及其他法律责任与软件开发者无关。</p>

  <h3>五、责任范围及限制</h3>
  <p>你使用本服务得到的结果仅供参考，实际情况以官方为准。</p>
  <h3>六、隐私保护</h3>
  <p>我们重视对你隐私的保护，你的个人隐私信息将根据《隐私政策》受到保护与规范，详情请参阅《隐私政策》。</p>

  <h3>七、其他条款</h3>
  <p>7.1 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</p>

  <p>7.2 本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</p>
</div>
